.form-holder{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("social-media-platforms.jpg");
    color: wheat;
}
#form{
    border-radius: 29px;
    box-shadow: 10px;
    border: 2px solid rgb(75, 7, 66);
    width: 405px;
    margin-top: -11px;
}
.form-items,.address-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bolder;
}
.form-items>label{
    padding: 5px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color:wheat;
}
.form-items>input{
    height: 26px;
    width: 200px;
    padding-left: 13px;
    background-color:pink;

}
button{
    height: 37px;
    width: 163px;
    border-radius: 36px;
    padding-top: 4px;
    margin-top: 10px;
    background-color: rgb(112, 6, 6);
    color: bisque;
}
.gender-block{
    color:wheat; 
    font-weight: bolder;
}
.address-block>textarea{
    background-color: pink;
}
a{
    color:blanchedalmond;
}
h1{
    margin-bottom: 10px;
}